html , body{
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #17e904, #e6e211);
}

.jumbotron{
	background-color:rgba(0, 0, 0, 0.1);
}

.code{
	width: 100%;
	height: 50%;
}